<h3>YOUR ORDER DETAILS</h3>
<table class="table table-lg">
<thead >
<tr class="table-dark">
<th>NAME</th>
<th>ID</th>
<th>QUANTITY</th>
<th>ORDER ID</th>
<th>Price</th>
<th>OrderDate</th>
<thead>
<tbody>
<%@order.each do |x|%>
<%@u=OrderDetail.where(order_id:x)%>
<%@u.each do |a|%>
<tr>
<td><%=a.name%></td>
<td><%=a.product_id%></td>
<td><%=a.quantity%></td>
<td><%=a.order_id%></td>
<td><%=a.subtotal%></td>
<td><%=a.created_at%></td>
</tr>

<%end%>
<%end%>
</tbody>
</table>
<%= button_to 'Back', customer_index_path, method: :get ,class:"btn btn-primary btn-block",style:"float:right;"%>