<br>
<%us=User.find(@user)%>
<h1>Hello <%=us.name%></h1>
<br>
<h3>your ORDER DETAILS</h3>
<table >
<tr>
<th>NAME</th>
<th>ID</th>
<th>QUANTITY</th>
<th>ORDER ID</th>
<th>Price</th>
<tbody>
<%@order.each do |x|%>
<%@u=OrderDetail.where(order_id:x)%>
<%@u.each do |a|%>
<tr>
<td><%=a.name%></td>
<td><%=a.product_id%></td>
<td><%=a.quantity%></td>
<td><%=a.order_id%></td>
<td><%=a.subtotal%></td>
</tr>
<br>
<%end%>
<%end%>
</tbody>
</table>