<br>
<h1>YOUR ITEMS</h1>

<table>
  <thead>
    <tr>
      <th>product_name</th>
      <th>product_price</th>
      <th>product_quantity</th>
      <th>seller_name</th>
      <th>subtotal</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
   <%@total=0%>
    <% @carts.each do |c| %>
    <%= form_with model: c, url:cart_path(c), method: :patch do |form| %>
      <tr>
        <td><%=c.pro_name%></td>
        <td><%=c.pro_price%></td>
        <td><%=c.pro_quantity%></td>
        <%sellername=User.find(c.sell_id)%>
        <td><%=sellername.name%></td>
        <td><%=c.subtotal%></td>
        <%@total=c.subtotal+@total%>
         <td><%= link_to 'Show', cart_path(c)%>
         <%a=Product.find(c.product_id)%>
         <td><%=form.number_field 'pro_quantity', min: 1, max: a.quantity, step: 1%></td>
        <td><%=form.submit "Update"%></td>
        <%end%>
        <td><%= link_to 'Destroy',c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
    <% end %>
  </tbody>
</table>
<%=form_with model: @order, url: orders_path, method: :post do |form|%>
<td><%= form.hidden_field :total_amt,value: @total %></td>
<%=form.submit "CHEKOUT"%>
<%end%>
<br>
<%= link_to 'Back', customer_index_path%>
