<p id="notice"><%= notice %></p>
<div >
<%= image_tag "ban1.jpg",style:"height:600px;width:1254px; position:absolute;left:15px;top:75px;z-index:-1;"%>
<div style="margin-top:253px;">
<table class="table table-lg">
  <thead class="table-dark">
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th colspan="7"></th>
    </tr>
  </thead>
    <%no=1%>
  <tbody>
    <% @products.each do |product| %>
    
      <tr class="table-light">
      <td><%=no %></td>
      <%no=no+1%>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.quantity %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'RemoveProduct', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>



