<div style="font-size:20px; padding:10px; font-weight:bold;">
    <tr>
      <th>Product_Name
      </th>
      <th>| Price</th>
      <th>| Peller_name</th>
      <th>| Stoke Available</th>
      <th>| Select Quantity</th>
      <th colspan="5"></th>
    </tr>
    </div>
  
    
<% @products.each do |product| %>
 
   <%=form_with model: product, url:carts_path, method: :post do |form| %>
  <tr> 
   <%var=User.find(product.user_id)%>
        <td><%=product.id%></td>  
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%=var.name%></td>
        <% if product.quantity.nil? ||product.quantity==0%>
        <td><strong>out of Stock</strong></td>
        <td><%= link_to 'GO TO cart',carts_path%></td>
        <%else%>
        <td><%= product.quantity %></td>
        <td><%= form.hidden_field :product_id,value: product.id %></td>
        <td><%= form.hidden_field :sell_id,value: product.user_id %></td>
        <td><%= form.hidden_field :pro_name,value: product.name %></td>
        <td><%= form.hidden_field :pro_price,value: product.price %></td>
        <td><%= form.hidden_field :subtotal,value: 0 %></td>
      
        <td><%=form.number_field 'pro_quantity', min: 1, max: product.quantity, step: 1%></td>
        <td><%= link_to 'Viwe', customer_path(product) %></td>
        <td><%=form.submit "ADD TO CART"%></td>
         <%end%>
      </tr>
   <%end%>
<%end%>

<br>
<h1><%= link_to 'my cart',carts_path%></h1>
<h1><%= link_to 'my Order',myorder_orders_path%></h1>