<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.quantity %></td>
        <td><%= link_to 'Viwe', customer_path(product) %></td>
        <td><%= link_to 'Add to cart', edit_product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>